# Игнорируем виртуальное окружение
venv/
ENV/
env/

# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем локальную базу данных (в облаке будет своя или чистая)
*.db
*.sqlite3

# Игнорируем папки настроек VS Code
.vscode/